<div class="row">
	<div class="col-1 section-title">INBETWEEN</div>
	<div class="col-11">{{model.shapeSpaceBetween}}</div>
</div>
<div class="row">
	<div class="col-1 section-title">FULLER</div>
	<div class="col-11">{{model.shapeFuller}}</div>
</div>
<div class="row">
	<div class="col-1 section-title">SPREAD</div>
	<div class="col-11">{{model.shapeSpread}}</div>
</div>